<main class="container">
	<header class="col-lg-12">
		<h3>Welcome to</h3>
		<h1>Schwanz</h1>
		<h3>or</h3>
		<h1>No Schwanz</h1>
	</header>

	<section class="intro">
		<p>Hi there! Below you'll find a movie poster and your job is to guess whether that movie contains Schwanz or No Schwanz.</p>
	</section>

	<section class="poster">
		<aside class="col-lg-4">
			<%= image_tag("gone_girl.jpg") %>
		</aside>
		
		<aside class="col-lg-4">
			<button class="btn btn-success">
				Schwanz?
			</button>
			<button class="btn btn-danger">
				No Schwanz?
			</button>

			<aside class="answer">
				<p class="correct">Correct!</p>
				<p class="incorrect">Incorrect!</p>
				<p class="explanation">In the shower scene there is confirmed schwanz.</p>
			</aside>

		</aside>


	</section>
</main>
