%main.container
  %header.col-lg-12
    %h3 Welcome to
    %h1 Schwanz
    %h3 or
    %h1 No Schwanz
  %section.intro
    %p Hi there! Below you'll find a movie poster and your job is to guess whether that movie contains Schwanz or No Schwanz.
  %section.poster
    %aside.col-lg-4= image_tag("gone_girl.jpg")
    %aside.col-lg-4
      %button.btn.btn-success
        Schwanz?
      %button.btn.btn-danger
        No Schwanz?
      %aside.answer
        %p.correct Correct!
        %p.incorrect Incorrect!
        %p.explanation In the shower scene there is confirmed schwanz.