header{
	margin: 1.5em 0; 
	text-align: center;
}
header h3, header h1{
	margin: 0;
}
.intro p{
	margin:1.5em 0;
	font-size: 1.4em;
}
.poster img{width:300px;}

aside.answer p{
	font-size: 1.5em;
}
.answer p{
	display: none;
}
.yes{
	display: block;
}