// Place all the styles related to the Reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@font-face {
  font-family: 'stars';
  src: font-url('stars.eot'); /* IE9 Compat Modes */
  src: font-url('stars.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       font-url('stars.woff2') format('woff2'), /* Super Modern Browsers */
       font-url('stars.woff') format('woff'), /* Pretty Modern Browsers */
       font-url('stars.ttf')  format('truetype'), /* Safari, Android, iOS */
       font-url('stars.svg#svgFontName') format('svg'); /* Legacy iOS */
}
#notice{
	background:#7fd97f;
}
#login, #logout{
	float:right;
}
#reviews {
	background:#f5f5f5;
	h3, h5 {
		text-transform: capitalize;
	}
	.name{
		color:#323232;
		display:inline;
		vertical-align:bottom;
	}
	.city{
		color:#4c4cff;
		display:inline;
		vertical-align:bottom;
	}
	.city:before{
		content:"("; 
		vertical-align:bottom;
	}
	.city:after{
		content:")";
		vertical-align:bottom;	
	}
	.date{
		color:#ff4d4d;
		float: right;
	}
	.rating{
		font-family: "stars";
		color: rgb(255, 232, 0);
		font-size: 2.5em;
		background: #4c4cff;
		border-radius: 10px;
		display: inline-block;
		padding-right: 5px;
		margin:0;
	}
	.review{
		padding:1em 0;
	}
	.reply{
		margin-left:10%;
		.logo{
			background:url("freedom.jpg");
			width:25px;
			height:25px;
			display: inline-block; 
			margin-right:1%;
		}
	}
	aside {
		border-bottom:1px solid #ABABAB;
		margin-bottom:3em;
		p {
			display:inline;
		}
	}
}
textarea {
	height: 10em;
	width: 20em;
}
p.inline{display:inline;}
.rating{
	font-family: "stars";
	color: rgb(255, 232, 0);
	font-size: 2.5em;
	background: #4c4cff;
	border-radius: 10px;
	display: inline-block;
	padding-right: 5px;
	margin:0;
}
.field.input-date{
	display:none;
}