// Place all the styles related to the Reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@font-face {
  font-family: 'stars';
  src: font-url('stars.eot'); /* IE9 Compat Modes */
  src: font-url('stars.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       font-url('stars.woff2') format('woff2'), /* Super Modern Browsers */
       font-url('stars.woff') format('woff'), /* Pretty Modern Browsers */
       font-url('stars.ttf')  format('truetype'), /* Safari, Android, iOS */
       font-url('stars.svg#svgFontName') format('svg'); /* Legacy iOS */
}
#notice{
	background:#7fd97f;
}
#login, #logout{
	float:right;
}
.clear{clear:both;}
#reviews {
	background:#f5f5f5;
	h3, h5 {
		text-transform: capitalize;
	}
	.name{
		color:#323232;
		display:inline;
		vertical-align:bottom;
	}
	.city{
		color:#30529D;
		display:inline;
		vertical-align:bottom;
	}
	.city:before{
		content:"("; 
		vertical-align:bottom;
	}
	.city:after{
		content:")";
		vertical-align:bottom;	
	}
	.date{
		color:#eb540a;
		float: right;
	}
	.review{
		padding:1em 0;
	}
	.reply{
		margin-left:10%;
	}
	aside {
		border-bottom:1px solid #ABABAB;
		margin-bottom:3em;
		p {
			display:inline;
		}
	}
}
.actions{
	p{
		margin-left:.5em
	}
}
#new-review{
	float:left;
}
a.btn{
	background: #428bca;
	color: #fff;
	margin-bottom: 1em;
	&:hover{
		color:#fff;
		background:#255680;
	}
}
textarea {
	height: 10em;
	width: 100%;
}
p.inline{display:inline;}
.rating{
	font-family: "stars";
	color: #F5CD03;
	font-size: 2em;
	background: #02779e;
	border-radius: 10px;
	display: inline-block;
	padding-right: 5px;
	margin:0;
}
.field.input-date{
	display:none;
}
.login a{
	float:right;
}
.login.container{
	text-align: right;
	margin-left: -30px;
}
#sb-wrapper-inner{overflow:scroll;}


.fancybox-inner form.new_user .field label{width:80%;}

.fancybox-inner{
	h1, h2, h3{
		margin-top:0;
	}
	form{
		width:100%;
		.field{
			text-align: left;
			padding-bottom:3%;
			label{
				width:20%;
			}
		}
	}
}